input-range {
  display: flex;
  flex-wrap: nowrap;
}

/* input type=range */
input-range>*:first-child {
  overflow: auto;
  flex: 1 1 100%;
  margin-right: 5px;
  padding-right: 0;
  padding-left: 0;
}

/* input type=number */
input-range>*:last-child {
  overflow: auto;
  text-align: center;
}

.float-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}

.float-left>*:not(:last-child) {
  margin-right: 10px;
}

.float-left>*:last-child {
  flex: 1 1 100%;
}
