input-range {
  display: flex;
  flex-wrap: nowrap;
}

/* input type=range */
input-range>*:first-child {
  overflow: auto;
  flex: 1 1 100%;
  margin-right: 5px;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
}

/* input type=number */
input-range>*:last-child {
  overflow: auto;
  text-align: center;
}

.v-stack>*:not(:last-child) {
  margin-bottom: 10px;
}

.grid-item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  float: left;
  padding: 6px 12px;
}

@media(min-width: 544px) {
  .grid-item {
    width: 49.99999998%;
  }
}

@media(min-width: 1012px) {
  .grid-item {
    width: 33.33333332%;
  }
}

.grid-item>*:not(:last-child) {
  margin-right: 10px;
}

.grid-item>*:last-child {
  flex: 1 1 100%;
  overflow: auto;
}
